@charset "UTF-8";

/*===============================
	Main
================================*/

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.container {
  max-width: $global-width;
  width: 80%;
  margin: 0 auto;
  @include s {
      width: 90%;
  }
}
.container-narrow {
  max-width: $global-narrow-width;
  width: 70%;
  margin: 0 auto;
  @include s {
      width: 88%;
  }
}
.container-wide {
  max-width: $global-max-width;
  width: 90%;
  margin: 0 auto;
  @include s {
      width: 88%;
  }
}

